# --- Database ---
POSTGRES_HOST=localhost
POSTGRES_DB=cinema_auth
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password

# --- Loki ---
LOKI_HOST=localhost

# --- Redis ---
REDIS_HOST=localhost
REDIS_PASSWORD=your_password

# --- Keycloak ---
KEYCLOAK_HOST=localhost